.fullCalendarDark {
  .fc {
    .fc-header-toolbar {
      background-color: black;
      color: white;
    }
  }
}

.fullCalendarLight {
  .fc {
    .fc-header-toolbar {
      background-color: white;
      color: black;
    }
  }
}
